import(PVR,rdacca.hp, ape, methods,phylosignal,stats)
importFrom("graphics", "lines", "par", "points", "polygon", "segments", "text", "plot")
importFrom("methods", "new", "slot", "show")
importFrom("utils", "read.table")
importFrom("splancs", "areapl")
importFrom("MASS", "stepAIC")
export(phyPVR)
exportClasses("phyPVR")
